section.section-contact

  h2#Details Contact Details

  hr.bar

  div.social-links
    a(href='https://www.facebook.com/JasonWadeAsh')
      div(class="glyph-icon facebook-square")
    a(href='https://www.linkedin.com/in/jasonwadeash/')
      div(class="glyph-icon linkedin-square")
    a(href='https://github.com/iJasonWade')
      div(class="glyph-icon github-square")
    a(href='https://twitter.com/iJasonWade')
      div(class="glyph-icon twitter-square")

  hr.bar

  a( class='biglink' href='mailto:jasonwadeash@icloud.com') jasonwadeash@icloud.com
