<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links">
        <a href="https://www.facebook.com/JasonWadeAsh">
            <div class="glyph-icon facebook-square"></div>
        </a>
        <a href="https://www.linkedin.com/in/jasonwadeash/">
            <div class="glyph-icon linkedin-square"></div>
        </a>
        <a href="https://github.com/iJasonWade">
            <div class="glyph-icon github-square"></div>
        </a>
        <a href="https://twitter.com/iJasonWade">
            <div class="glyph-icon twitter-square"></div>
        </a>
    </div>
    <hr class="bar" /><a href="mailto:jasonwadeash@icloud.com" class="biglink">jasonwadeash@icloud.com</a></section>